# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__

- List popular languages for Data Science
- List popular libraries for Data Science
- List popular development environment open source tools used for Data Science

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Julia
4. Java
5. C++

Some of the commonly used libraries used by Data Scientists include:

1. For scientific computing
    1. Pandas
    2. Numpy
2. For visualization
    1. Matplotlib
    2. Seaborn
3. Scikit-learn for high-level machine learning

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|Jupyter Lab|
|RStudio|

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [22]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [27]:
200/60

3.3333333333333335

## Author

Muhammad Faris Fitri Bin Muhammad Juraidi